body {
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(files/pictures/woodbackground.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}
body  > * {
    background-color:white;
}

.yellowBackground {
    background-color: yellow;
}

.redBackground {
    background-color: red;
}

.whiteBackground {
    background-color: white;
}

#employeeSubmitButton {
    margin: 5px 0px;
    background-color:#343a40;
}

#employeeSubmitButton:hover {
background-color:black;
}

.deleteButton {
    background-color:#343a40;
}

.deleteButton:hover {
    background-color:black;
}
.jumbotron {
    background-color: #343a40;
    color: white;
    font-weight: bold;
}
    
